    * {
    margin: 0;
    padding: 0;
    }
    #header {
    background-color: #333;
    padding: 10px 0;
    margin-bottom: 20px;
    }
    #header-inner {
    display: flex;
    }
    #header #title {
    font-size: 30px;
    display: inline-block;
    }
    #header #title a {
    color: #fff;
    text-decoration: none;
    }
    #header #title a:hover {
    opacity: 0.7;
    }
    .container {
    max-width: 600px;
    margin: 0 auto;
    }

    #header #menu {
    margin: 0 0 0 auto;
    align-self: center;
    }

    #header #menu a {
    color: #fff;
    text-decoration: none;
    }
    #header #menu a:hover {
    opacity: 0.7;
    }


        .image1 {
    width: 70px;
    height: 70px;
    border-radius: 100%;

}

.row {
    display: grid;
    grid-template-columns: 70px 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
}

.right {
    align-self: center;
    position: relative;
}

.like {
    border: none;
    background: none;
    top: 4px;
    position: absolute;
    cursor: pointer;
}

.like:hover {
    opacity: 0.5;
}

.name {
    display: inline-block;
    margin-right: 5px;
}

.email {
    font-weight: bold;
}

.toast {
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 200px;
    padding: 10px;
    color: #fff;
    transform: translateX(220px);
}

.toast.is-success {
    background-color: #28a746;
}

.toast.is-error {
    background-color: #dc3446;
}

.toast.is-show {
    animation: anime 3s ease 1 normal;
}

@keyframes anime {
    16.666% {
        transform: translateX(0);
    }

    83.333% {
        transform: translateX(0);
    }
}